* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

#root {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#header {
  width: 100%;
}

#carousel {
  display: flex;
  justify-content: space-between;
}

#headerLeft {
  width: 55%;
}

#myCarousel {
  width: 40%;
  height: 100%;
}

.h1Title {
  color: cyan;
  text-shadow: 1px 1px black;
  letter-spacing: 0.7em;
  margin: 3rem auto;
  text-align: center;
}

.hr {
  background-color: blue;
  padding: 1px;
  width: 100%;
}

.hr2 {
  background-color: blue;
  padding: 1px;
  width: 30%;
}

#myButtons {
  display: flex;
  margin-top: 2rem;
}

#inputId {
  display: flex;
  width: 70%;
}

.listDescription {
  margin-top: 2em;
  font-family: fantasy;
  font-weight: bold;
}

.list {
  box-sizing: border-box;
  border: blue 2px solid;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.moviesList2 {
  box-sizing: border-box;
  border: blue 2px solid;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.top {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 0;
}

.topTitle {
  color: rgb(1, 143, 143);
  text-shadow: 1px 1px black;
  margin-top: 1rem;
}

.topDescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40em;
  box-sizing: border-box;
}

.banner {
  width: 40%;
  height: 98%;
  margin-top: 1rem;
}

.topPlot {
  margin: 1rem 5rem 2rem 0;
}

.trailer {
  width: 94%;
  height: 23em;
  margin-top: 1em;
}

.saveAndVote {
  width: 97%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}

.likedIcon,
.dislikedIcon {
  width: 3em;
  padding: 0.5em;
  margin-right: 2rem;
  cursor: pointer;
}

.savedDiv {
  margin-left: 2rem;
  width: 20%;
}

.saveIcon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.4em 2em 0.3em 2em;
  border-radius: 17px;
  background-color: #6cc4df;
  color: white;
  font-size: 1.3em;
}
.saveIcon:hover {
  background-color: white;
  color: black;
  border: solid 1px blue;
}

.saveIcon img {
  width: 1.3em;
}

.emotionsIcons {
  width: 2.5em;
  margin: 0 1rem;
}

img.likedIcon:hover {
  background-color: #63f8f8;
  border: blue solid 1px;
  border-radius: 20%;
}

img.dislikedIcon:hover {
  background-color: #63f8f8;
  border: blue solid 1px;
  border-radius: 20%;
}

.topSave {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.story {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 2rem 0;
}

label {
  color: blue;
}

textarea {
  border: blue 1px solid;
  padding: 2em;
  border-radius: 10px;
}

.bottomDescription {
  font-size: 1.2em;
  margin-top: 2rem;
}

.movieReviews {
  font-size: 1.3em;
  display: flex;
}

.outputReviews {
  color: blue;
}

.bottomFacts {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5em;
  color: blue;
}

.spanButton {
  margin-left: 2rem;
}

#inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: rgb(146, 194, 235) solid 1px;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.3rem;
}

#emptyWarning {
  display: none;

  color: red;
}

#appDescription {
  font-family: fantasy;
  font-weight: bold;
  color: blue;
  margin: 0 1em;
}

#input {
  width: 100%;
  margin: auto;
  height: 2rem;
  padding: 1em;
}

textarea:focus,
input:focus {
  outline: none;
}

#inputId {
  width: 100%;
}

form {
  display: flex;
  border: 1px solid rgb(5, 240, 244);
  border-radius: 3px;
  width: 60%;
}

#searchIcon {
  width: 20px;
  margin-right: 1em;
}

.ulReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
