* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

#root {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#header {
  width: 100%;
}

#carousel {
  display: flex;
  justify-content: space-between;
}

#headerLeft {
  width: 45%;
}

#myCarousel {
  width: 50%;
  height: 100%;
}

.h1Title {
  color: cyan;
  text-shadow: 1px 1px black;
  letter-spacing: 0.5em;
  margin: 3rem auto;
  text-align: center;
}

.hr {
  background-color: blue;
  padding: 1px;
  width: 100%;
}

.hr2 {
  background-color: blue;
  padding: 1px;
  width: 30%;
}

#myButtons button {
  margin-top: 2rem;
  width: 50%;
}

#inputId {
  display: flex;
  width: 70%;
}

.listDescription {
  margin-top: 2em;
  font-family: fantasy;
  font-weight: bold;
}

.list {
  box-sizing: border-box;
  border: blue 2px solid;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.moviesList2 {
  box-sizing: border-box;
  border: blue 2px solid;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.top {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 0;
}

.topTitle {
  color: rgb(1, 143, 143);
  text-shadow: 1px 1px black;
  margin-top: 1rem;
}

.topDescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40em;
  box-sizing: border-box;
}

.banner {
  width: 40%;
  height: 98%;
  margin-top: 1rem;
}

.topPlot {
  margin: 1rem 1rem 1rem 0;
}

.trailer {
  width: 94%;
  height: 23em;
  margin-top: 1em;
}

.saveAndVote {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.likedIcon,
.dislikedIcon {
  width: 3em;
  padding: 0.5em;
  margin-right: 2rem;
  cursor: pointer;
}

.savedDiv {
  width: 50%;
}

.saveIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.4em 2em 0.3em 2em;
  border-radius: 17px;
  background-color: #6cc4df;
  color: white;
  font-size: 1.3em;
}
.saveIcon:hover {
  background-color: white;
  color: black;
  border: solid 1px blue;
}

.saveIcon img {
  width: 1.2em;
  margin-right: 2rem;
}

.emotionsIcons {
  width: 2.5em;
  margin: 0 1rem;
}

img.likedIcon:hover {
  background-color: #63f8f8;
  border: blue solid 1px;
  border-radius: 20%;
}

img.dislikedIcon:hover {
  background-color: #63f8f8;
  border: blue solid 1px;
  border-radius: 20%;
}

.topSave {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.story {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 2rem 0;
}

label {
  color: blue;
}

textarea {
  border: blue 1px solid;
  padding: 2em;
  border-radius: 10px;
}

.bottomDescription {
  font-size: 1.2em;
  margin-top: 2rem;
}

.movieReviews {
  font-size: 1.2em;
  display: flex;
}

.outputReviews {
  color: blue;
}

.bottomFacts {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5em;
  color: blue;
}

.spanButton {
  margin-left: 2rem;
}

#inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  padding: 1.3rem;
  background-color: white;
}

#emptyWarning {
  display: none;
  color: red;
}

#appDescription {
  font-family: fantasy;
  font-weight: bold;
  color: blue;
  margin: 0.5em 0.3em;
  padding-top: 0.3em;
}

#input {
  width: 100%;
  height: 2.2em;
  padding: 0 1em;
}

textarea:focus,
input:focus {
  outline: none;
}

#inputId {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#inputInner {
  display: flex;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 60%;
}

form {
  display: flex;
  border: solid 1px black;
  border-radius: 3px;
  width: 60%;
  margin: 1em 0;
}

#searchIcon {
  width: 20px;
  margin: 0 1em;
}

.ulReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}

#deleteButtonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#deleteButton {
  width: 50%;
}

@media (max-width: 420px) {
  #root {
    width: 90% !important;
  }
  #myButtons {
    display: block !important;
    margin-bottom: 1rem !important;
  }

  #myButtons button {
    margin-top: 0.5rem !important;
    width: 100% !important;
  }

  #appDescription {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-weight: normal !important;
  }

  .listDescription {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-weight: normal !important;
  }

  .h1Title {
    letter-spacing: 0.3em !important;
    color: rgb(1, 46, 245);
    text-shadow: 1px 1px black;
    margin: 0 !important;
    font-size: 2.5em !important;
    border: black solid 0.5px;
    padding: 1em;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 20px 23px 31px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 20px 23px 31px rgba(0, 0, 0, 0);
  }

  #inputDiv {
    padding: 0 !important;
  }

  #inputId {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  #inputInner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100% !important;
    margin: 0;
  }

  form {
    width: 70% !important;
    margin-top: 1em;
  }

  #clear {
    margin-top: 1em !important;
  }

  .topDescription {
    flex-direction: column !important;
    width: 100%;
    height: auto !important;
  }

  .hr2 {
    margin: 0.5em 0 !important;
  }

  topPlot {
    margin: 1rem 0 !important;
  }

  .trailer {
    width: 100%;
    height: auto !important;
  }

  img.banner {
    width: 100% !important;
  }

  .bottomFacts {
    flex-direction: column;
    align-items: flex-end;
  }

  a#topAnchor {
    bottom: 7em !important;
    right: 0.5em !important;
  }

  #backTo {
    display: none;
  }

  #topAnchor img {
    width: 10px !important;
  }

  .movieReviews {
    font-size: 1em !important;
    display: block;
  }

  .movieReviews img {
    width: 100% !important;
    margin: 1em 0;
  }

  #deleteButton {
    width: 100% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 812px) {
  #appDescription {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-weight: normal !important;
  }

  .listDescription {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-weight: normal !important;
  }

  .topTitle {
    font-size: 2em !important;
  }

  #appDescription {
    font-size: 1em !important;
    margin: 1em 0.3em !important;
  }

  #inputInner {
    width: 70%;
  }

  .top {
    margin-right: 1rem;
    width: auto;
  }

  .banner {
    width: 35% !important;
  }

  .trailer {
    margin-top: 0.3em;
  }

  #topAnchor {
    bottom: 5em !important;
    right: 1.7em !important;
    font-size: small;
  }

  #topAnchor img {
    width: 20px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100% !important;
  }
  #carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #myCarousel {
    width: 100%;
  }

  #headerLeft {
    width: 100%;
  }

  .topTitle {
    font-size: 2em !important;
  }

  .listDescription {
    text-align: center;
  }

  #myButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  #myButtons button {
    width: 70%;
  }

  #appDescription {
    font-size: 1.2em;
    margin: 0 0.5em !important;
    padding-top: 0.3em;
  }

  #input {
    height: 1.7em;
  }

  #searchIcon {
    width: 12px;
    margin: 0 1em;
  }

  form {
    display: flex;
    border: solid 1px black;
    border-radius: 3px;
    width: 60%;
    height: 1.9em;
  }

  .topDescription {
    height: 30em;
  }

  .banner {
    width: 50%;
  }

  #topAnchor {
    bottom: 4em;
    right: 2em;
  }
}
